[submodule "themes/xmag"]
	path = themes/xmag
	url = https://github.com/yihui/hugo-xmag.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
